.Entete {
  background-image: linear-gradient(200deg, #18ba7d 10%, #17815c 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

.TitreEtLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NomSite {
  color: white;
  font-weight: 900;
  font-size: 28px;
}

.PositionBoutonReserver {
  position: absolute;
  right: 6%;
}

@media screen and (max-width: 768px) {
  .PositionBoutonReserver {
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 2;
  }
}
