.Fond {
  background-color: #00000090;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  top: 0px;
  left: 0px;
  position: fixed;
}

.Photo {
  width: 1000px;
  max-width: 90%;
  margin: auto;
}
